/* General */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f4f4f9;
  color: #333;
}

header {
  background-color: #1e81b0;
  color: #fff;
  text-align: center;
  padding: 2em 0;
  position: relative;
  overflow: hidden;
}

header .logo {
  max-width: 150px;
  margin-bottom: 20px;
}

header h1 {
  margin: 10px 0;
  font-size: 1.8em;
}

video {
  border: 2px solid #1e81b0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


header iframe {
  border-radius: 10px;
  margin-top: 10px;
  max-width: 80%;
  height: 300px;
  border: 3px solid #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* Navegación */
nav {
  background-color: #145374;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: bold;
}

nav ul li a:hover {
  background-color: #1e81b0;
}

/* Secciones */
section {
  padding: 2em;
  margin: 0 auto;
  max-width: 900px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
}

.seccion img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.seccion h2 {
  margin-bottom: 1em;
  color: #145374;
  font-size: 1.6em;
}

/* Contacto */
#contacto form {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
}

#contacto .campo-formulario {
  display: flex;
  flex-direction: column;
  margin: 0;
}

#contacto .campo-formulario label {
  margin-bottom: 5px;
  font-weight: bold;
}

#contacto .campo-formulario input,
#contacto .campo-formulario textarea {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

#contacto .campo-formulario input:focus,
#contacto .campo-formulario textarea:focus {
  border-color: #1e81b0;
}

#contacto textarea {
  grid-column: span 2;
  resize: none;
}

#contacto button {
  grid-column: span 2;
  padding: 10px 20px;
  background-color: #1e81b0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#contacto button:hover {
  background-color: #145374;
}

/* Pie de página */
footer {
  background-color: #1e81b0;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  margin-top: 2em;
}

/* Redes sociales */
footer {
  background-color: #145374;
  color: #000c0b;
  text-align: center;
  padding: 1em 0;
  margin-top: 2em;
}

footer p {
  margin: 0;
}

#redes-sociales h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.redes-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.red-social img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.red-social img:hover {
  transform: scale(1.1);
}

